{% if request.user.is_active %}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #87CEEB; font-family: 'MyRecipeFont', sans-serif; color: #000000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" style="color: #000000; font-weight: bold;"><b>MyRecipe</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: #000000; font-weight: bold;">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000000; font-weight: bold;">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" label="profile">
              <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: #000000; font-weight: bold;">Logout</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'viewprofile' %}" style="color: #000000; font-weight: bold;">View Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'editprofile' %}" style="color: #000000; font-weight: bold;">Edit Profile</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search Recipe" aria-label="Search" style="font-weight: bold;">
          <button id="bs" class="btn btn-outline-success" type="submit" style="color: #000000; font-weight: bold;">Search</button>
        </form>
      </div>
    </div>
  </nav>
{% else %}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #87CEEB; font-family: 'MyRecipeFont', sans-serif; color: #000000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" style="color: #000000; font-weight: bold;"><b>MyRecipe</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: #000000; font-weight: bold;">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000000; font-weight: bold;">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" label="profile">
              <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: #000000; font-weight: bold;">Logout</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'createprofile' %}" style="color: #000000; font-weight: bold;">Create Profile</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search Recipe" aria-label="Search" style="font-weight: bold;">
          <button id="bs" class="btn btn-outline-success" type="submit" style="color: #000000; font-weight: bold;">Search</button>
        </form>
      </div>
    </div>
  </nav>
{% endif %}
